body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%)
}


.container{
    padding : 30px;
    background-color: #fff;
    margin: 100px 200px;
    border-radius: 30px;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form {
    margin: 60px;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.taskItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customButtton {
    background: #8e49e8;
    background: linear-gradient(to bottom, #ba8ff1 0%, #8e49e8 100%);;
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    padding : 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.customInput {
    width: 25%;
    border: 1px solid rgb(107, 107, 107);
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 80%, #e0e0e0 100%);
    padding: 4px;

}

/* Added Task Section */

ul {
    margin-right: 32px;
}

ul div {
    /* background-color: #f2f2f2; */
    background: linear-gradient(to bottom, #fff 50%, #e0e0e0 100%);
    color : rgb(58, 58, 58);
    margin: auto;
    width: 30%;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    margin-bottom: 8px;
    
}

ul p {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

/* Close Button / Filter button / random Button  */


.closeButton {
    background-color: rgb(255, 59, 48);
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    padding : 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.filterButton {
    /* background-color: #497be8; */
    background: linear-gradient(to bottom, #81a7f8 0%, #497be8 100%);
    padding : 5px;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    padding : 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.randomButton {
    /* background-color: rgb(255, 149, 0); */
    background: linear-gradient(to bottom, rgb(241, 168, 66) 0%, rgb(255, 149, 0) 100%);
    padding : 5px;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    padding : 5px;
    margin-left: 10px;
    border-radius: 5px;
}