.container {
    padding: 30px;
    background-color: lightblue;
    margin: 100px 200px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form {
    margin: 60px;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.taskItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}