    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h1 {
    font-family: 'Pacifico', cursive;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%)
}

.container {
    padding: 30px;
    background-color: #fff;
    margin: 100px 200px;
    border-radius: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form {
    margin: 60px;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.taskItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customButtton {
    background: linear-gradient(to bottom, #ba8ff1 0%, #8e49e8 100%);
    ;
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.customButtton:hover {
    background: linear-gradient(to bottom, #ceaff6 0%, #a764ff 100%);
}

.customInput {
    width: 25%;
    border: 1px solid rgb(107, 107, 107);
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 80%, #e0e0e0 100%);
    padding: 4px;
}


/* Added Task Section */

ul {
    margin-right: 32px;
}

ul div {
    /* background-color: #f2f2f2; */
    background: linear-gradient(to bottom, #fff 50%, #e0e0e0 100%);
    color: rgb(58, 58, 58);
    margin: auto;
    width: 30%;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    margin-bottom: 8px;
}

.div-task {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}


/* Close Button / Filter button / random Button  */

.button_suprim {
    background: linear-gradient(to bottom, red 0%, rgb(236, 5, 5) 100%);
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.button_suprim:hover {
    background: linear-gradient(to bottom, rgb(255, 121, 113) 0%, rgb(236, 5, 5) 100%);
}

.filterButton {
    background: linear-gradient(to bottom, #81a7f8 0%, #497be8 100%);
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.filterButton:hover {
    background: linear-gradient(to bottom, rgb(121, 179, 245) 0%, #580aff 100%);
}

.randomButton {
    background: linear-gradient(to bottom, rgb(241, 168, 66) 0%, rgb(255, 149, 0) 100%);
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    height: 100%;
    margin-left: 10px;
    padding: 5px 10px;
}

.randomButton:hover {
    background: linear-gradient(to bottom, rgb(255, 192, 104) 0%, rgb(250, 174, 68) 100%);
}

.modifButton {
    background: linear-gradient(to bottom, #81a7f8 0%, #497be8 100%);
    color: #fff;
    width: 70px;
    height: 100%;
    border: none;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.modifButton:hover {
    background: linear-gradient(to bottom, rgb(121, 179, 245) 0%, #580aff 100%);}