    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    h1 {
        font-family: 'Pacifico', cursive;
    }
    
    body {
        min-height: 90vh;
        width: 100%;
        background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
    }
    
    .container {
        padding: 30px;
        background-color: #fff;
        margin: 100px 200px;
        border-radius: 30px;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    form {
        margin: 60px;
        display: flex;
        justify-content: center;
    }
    
    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 150px 0 50px 0;
    }
    
    .taskItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .customButtton {
        background: linear-gradient(to bottom, #ba8ff1 0%, #8e49e8 100%);
        width: 60px;
        height: 100%;
        border: none;
        outline: none;
        color: #fff;
        padding: 5px;
        margin-left: 10px;
        border-radius: 5px;
    }
    
    .customButtton:hover {
        background: linear-gradient(to bottom, #a764ff 0%,  #852df8 100%);
    }
    
    .customInput {
        width: 30%;
        border: 1px solid rgb(107, 107, 107);
        font-size: 16px;
        font-weight: bold;
        border-radius: 3px;
        background: linear-gradient(to bottom, rgb(255, 255, 255) 80%, #e0e0e0 100%);
        padding: 4px;
    }
    
    /* Added Task Section */
    
    ul {
        margin-right: 32px;
    }


    .div-task {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(to bottom, #fff 50%, #e0e0e0 100%);
        width: 500px;
        border: 0.5px solid #ccc;
        border-radius: 10px;
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        padding: 5px 10px 5px 20px;
        margin: auto;
        word-break: break-all; 
        margin-bottom: 10px;
        align-items: center;
    }

   .div-task > .buttonDiv {
        display: flex;
        flex-direction: row;
    }
    
    
    .filterButton {
        background: linear-gradient(to bottom, #81a7f8 0%, #497be8 100%);
        height: 100%;
        border: none;
        outline: none;
        color: #fff;
        padding: 5px 10px;
        margin-left: 10px;
        border-radius: 5px;
        
    }
    
    .filterButton:hover {
        background: linear-gradient(to bottom, rgb(121, 179, 245) 0%, #580aff 100%);
    }
    
    .randomButton {
        background: linear-gradient(to bottom, rgb(241, 168, 66) 0%, rgb(255, 149, 0) 100%);
        border-radius: 5px;
        border: none;
        outline: none;
        color: #fff;
        height: 100%;
        margin-left: 10px;
        padding: 5px 10px;
    }
    
    .randomButton:hover {
        background: linear-gradient(to bottom, rgb(255, 192, 104) 0%, rgb(250, 174, 68) 100%);
    }
    
    .button-modif {
        background: linear-gradient(to bottom, #81a7f8 0%, #497be8 100%);
        color: #fff;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        padding: 5px;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 5px;
        transition: 0.3s;
        align-content: center;
    }
    
    .button-modif:hover {
        background: linear-gradient(to bottom, rgb(121, 179, 245) 0%, #580aff 100%);
    }
    .button_suprim {
        background: linear-gradient(to bottom, red 0%, rgb(236, 5, 5) 100%);
        color: white;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 5px;
        transition: 0.3s;
        padding: 5px;
        left: 130px
    }
    
    .button_suprim:hover {
        background: linear-gradient(to bottom, rgb(236, 5, 5) 0%, rgb(165, 5, 5) 100%);
    }